/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

/* header section styles */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left center;
    padding-left: 100px;
    height: 827px;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800px;
}

.text-primary {
    color: #FD6E0A;
}

ul {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    margin-right: 50px;
}

a {
    text-decoration: none;
    color: #474747;
}

.button-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px 18px 35px;
    margin-right: 30px;
}

/* banner section styles */
.banner {
    margin: 0px 100px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin: 0px;
}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin: 0px;
}

.banner-description {
    max-width: 500px;
    margin-bottom: 30px;
}

.b1 {
    margin-right: 10px
}

.call-button {
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    background: #FFF8F3;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px 18px 35px;
}

.hardy-img {
    width: 550px;
    margin: 0px;
    padding: 0px;

}

/* main section styles */
main section {
    margin-top: 130px;
}

.about {
    padding: 131px 157px;
    margin: 130px 0;
    border-radius: 10px;
    background: #FFF8F3;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

main {
    max-width: 1140px;
    margin: 0 auto;

}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.about-title {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0px;
}

.about-description {
    color: var(--Dark-02, #474747);
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;

}

#what-i-do-description {
    padding: 30px 150px;
}

.skill-container {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.skill {
    width: 267px;
    height: 377px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 20px 30px;
}

.skill-img {
    width: 44px;
    height: 44px;
}

.skill-title {
    color: var(--Dark-01, #181818);
    font-size: 20px;
    font-weight: 700;
}

.skill-description {
    width: 201px;
    color: var(--Dark-03, #757575);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/* resume section styles */
.resume-container {
    display: flex;
    gap: 70px;

}

.resume-container hr {
    margin: 30px 0px;
}

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-item-subtitle {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
}

.resume-item-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 20px;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 130px;
}

/* footer section styles */

footer {
    display: flex;
    width: 1600px;
    height: 780px;
    background: #FFF8F3;
    padding: 130px 230px;
    gap: 100px;
}

.footer-column {
    width: 50%;
}

.icon {
    width: 24px;

}

.social-links a {
    margin-right: 25px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
textarea {
    display: flex;
    margin-bottom: 25px;
    padding: 18px 30px;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 90%;
}